<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Formulário</title>
  </head>
  <body>
    <h2><center>Formulário</center></h2>
    <h4>Folha de Rosto</h4>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->

    <form method="POST" action="{% url 'download_file' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputAddress">Mês/Ano</label>
            <input type="text" class="form-control" id="mes_ano" placeholder="01/2020" name="mes_ano" value="{{ mes_ano }}">
        </div>

        <div class="form-group">
            <label for="inputAddress2">Título Superior</label>
            <input type="text" class="form-control" id="titulo_superior" placeholder="Gestor ..." name="titulo_superior" value="{{ titulo_superior }}">
        </div>

        <div class="form-group">
            <label for="inputAddress">Título Principal</label>
            <input type="text" class="form-control" id="titulo_principal" placeholder="Relatório ..." name="titulo_principal" value="{{ titulo_principal }}">
        </div>

        <div class="form-group">
            <label for="inputAddress">Subtítulo</label>
            <input type="text" class="form-control" id="subtitulo" placeholder="Itumbira..." name="subtitulo" value="{{ subtitulo }}">
        </div>

        <div class="form-group">
            <label for="inputAddress">Elaborado Por</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Nome..." name="elaborado" value="{{ elaborado }}">
        </div>

        <br></br>

        <h4>Folha 2 - Gráficos</h4>

        <div class="form-group">
            <label for="inputAddress">Título Principal: </label>
            <input type="text" class="form-control" id="titulo2" placeholder="Relatório..." name="titulo2" value="{{ titulo2 }}">
        </div>

        <div class="form-group">
            <label for="inputAddress">Título do Gráfico: </label>
            <input type="text" class="form-control" id="titulo_grafico" placeholder="Relatório..." name="titulo_grafico" value="{{ titulo_grafico }}">
        </div>

        <br>

        <h6>CAPTAÇÃO</h6>

        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Projeção de Resultados</label>
                <input type="text" class="form-control" id="item11" name="item11" placeholder="" value="{{ item11 }}">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Após Alteração Feitas</label>
                <input type="text" class="form-control" id="item12" name="item12" placeholder="" value="{{ item12 }}">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom05">Antes dos Trabalhos</label>
                <input type="text" class="form-control" id="item13" name="item13" placeholder="" value="{{ item13 }}">
            </div>

        </div>

        <br>

        <h6>ORÇAMENTO</h6>

        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Projeção de Resultados</label>
                <input type="text" class="form-control" id="item21" name="item21" placeholder="" value="{{ item21 }}">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Após Alteração Feitas</label>
                <input type="text" class="form-control" id="item22" name="item22" placeholder="" value="{{ item22 }}">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom05">Antes dos Trabalhos</label>
                <input type="text" class="form-control" id="item23" name="item23" placeholder="" value="{{ item23 }}">
            </div>

        </div>

        <br>

        <h6>VENDAS</h6>

        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Projeção de Resultados</label>
                <input type="text" class="form-control" id="item31" name="item31" placeholder="" value="{{ item31 }}">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Após Alteração Feitas</label>
                <input type="text" class="form-control" id="item32" name="item32" placeholder="" value="{{ item32 }}">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom05">Antes dos Trabalhos</label>
                <input type="text" class="form-control" id="item33" name="item33" placeholder="" value="{{ item33 }}">
            </div>

        </div>

        <br>

        <h6>EQUIPE</h6>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Projeção de Resultados</label>
                <input type="text" class="form-control" id="item41" name="item41" placeholder="" value="{{ item41 }}">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Após Alteração Feitas</label>
                <input type="text" class="form-control" id="item42" name="item42" placeholder="" value="{{ item42 }}">
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom05">Antes dos Trabalhos</label>
                <input type="text" class="form-control" id="item43" name="item43" placeholder="" value="{{ item43 }}">
            </div>
        </div>

        <button type="submit" class="btn btn-primary" name="salvar">Salvar</button>

    </form>


    <br></br>
    <div class="form-row">

        <form method="POST" action="{% url 'limpar_campos' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb-2" >Limpar campos</button>
        </form>

        <span style="margin-left: 10px;"></span>

        <form method="POST" action="{% url 'download_json' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb-2" name="Exportar">Exportar Cadastro</button>
        </form>

    </div>

    <form method="post" enctype="multipart/form-data" action="{% url 'upload_json' %}">
        {% csrf_token %}
        <input type="file" name="json_file">
        <button type="submit" class="btn btn-primary mb-2">Enviar</button>
    </form>

    {% if sucesso %}
        <div class="alert alert-success" role="alert">
            Arquivo importado com sucesso!!!
        </div>
    {% elif sucesso == False %}
        <div class="alert alert-danger" role="alert">
            Falha ao importar o arquivo !!!
        </div>
    {% else %}
        <label ></label>
    {% endif %}

  </body>

</html>